{
  // I want to use babel-eslint for parsing!
  "parser": "babel-eslint",
  "extends": "eslint:recommended",

  // Specifying environment
  "env": {
    "node": true
  },

  // Declaring mocha globals
  "globals": {
    "describe": false,
    "it": false,
    "before": false,
    "after": false,
    "beforeEach": false,
    "afterEach": false
  }
}
